
@{
    ViewBag.Title = "Cégalapítás - Jogi képviselet";
    Layout = "~/Areas/jogiszolgaltatasok/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>5.3 Cégalapítás - Ügyvédi feladtok - Jogi képviselet</h3>
    
    <h4>5.3.1 Cégalapítás</h4>
    <p>Nem az határozza meg működésünk helyét, hogy hol alapítottuk a cégünket.</p>
    
    <p>
        Kevesen tudják, hogy  az adózási és a működésre vonatkozó jogszabályok betartása esetén, bármely európai, Európán kívüli cég működhet szinte bárhol a világon.
        A XXI században, a flexibilitás, s az internet világát éljük, így számtalan üzleti lehetőség ma már, bárkinek, bármikor, könnyen elérhető.
    </p>
    
    <p>
        Azonban az nagyon nem mindegy, hogy ezen lehetőségeknek, milyen költség és profitunk vonzatuk van.
    </p>
    
    <p>
        Manapság, már igen eltérőek az adózási szokások és nagyságrendek, tehát érdemes meggondolni, hogy társaságunk melyik államban üzemel, hol a székhelye, stb.
        Egy ilyen döntéssel milliókat spórolhatunk meg és szerezhetünk kiváltságokat, teljesen legálisan és törvény tisztelően. Azt viszont tudnunk kell mi cél, hiszen csak egy külföldi cég, még nem mindig jelent profitot.
    </p>
    
    <p>
        A külföldi cégalapítást, partnerein teljes körű ügymenet levezénylésével vállalnak, kiutazás nélkül, ottani székhely szolgáltatással, könyveléssel.
        Valójában ahogyan az élet más területein, az online rendszer lehetővé tette azt, hogy külföldi cégünket magyar képviselővel, több ezer kilométer távolságból is biztonságosan táv vezérelhetjük.
    </p>
    
    <p>
        A további tájékoztatást személyesen tudunk nyújtani, hiszen a szerződés feltételei gyakran változnak, akár az alaptőke, a szükséges dokumentumok vagy egyéb dolgok tekintetében.
    </p>
    
    <p>
        A jogi képviselőink minden esetben naprakészen a legaktuálisabb információt nyújtja.
    </p>
    
    <p>
        A következő országokat tudjuk ajánlani:
    </p>
    
    <p>
        Ausztria – Szlovákia – Anglia – Horvátország – Románia – Szerbia – Svájc – Csehország – Németország - Spanyolország
    </p>
    
    <h4>
        5.3.2. Ügyvédi feladatok - Jogi képviselet<br/>
        5.3.3. Közjegyzői feladatok  - ellenjegyzések
    </h4>
    <p>
        Bármikor kerülhetünk olyan élethelyzetben, hogy szükségünk van egy ügyvédre, jogi képviselőre.
        Partnereinknél, mindig megtalálhatják a megoldást és megkaphatják a gyors és szakszerű segítséget, ha jogi tanácsra, képviseletre, szerződés készítésre, ellenjegyzésre, közjegyzői hitelesítésre, stb. van szükségük.
    </p>
</article>

