
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/partner/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Partner közvetítés</h3>
    
    <p>Kedves leendő Ügyfeleink!</p>
    <p>A külföldön valamely okból tartózkodó személyek, gyakran ragaszkodnak saját anyanyelvű partnerekhez.</p>
    <p>Ez az oldal ezt a kívánságot hivatott teljesíteni.</p>
    <i>szervezés alatt</i>
</article>

