
@{
    ViewBag.Title = "Ungarn";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<article>
    <h2>Ungarn</h2>
    <p>Ungarn (ungarisch Magyarország), amtlich Republik Ungarn (ungarisch Magyar Köztársaság, ist ein Binnenstaat in Mitteleuropa, der zum Großteil im Pannonischen Becken liegt. Nachbarstaaten sind Österreich, die Slowakei, die Ukraine, Rumänien, Serbien, Kroatien und Slowenien.</p>
    <p>Ungarn ist seit dem 1. Mai 2004 Mitgliedstaat der Europäischen Union und seit dem 12. März 1999 Mitgliedstaat der NATO. Die Hauptstadt ist Budapest.</p>
    <p>
        <a herf="http://de.wikipedia.org/wiki/Ungarn">Bitte klick hier</a>
    </p>
</article>

