
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/penzugy/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Pénzügyi tanácsadás – Befektetés – Vagyonkezelés</h3>
    
    <h4>Kedves Olvasó!</h4>
    
    <p>
        A fenti címsort olvasók között legtöbbször két fajta ember típust találunk.
        Olyat aki nagyon ért ezekhez a területekhez és olyat aki egyáltalán nem.
        Ön bármelyikhez is tartozik, minden esetben érdemes konzultálnia üzleti partnereinkkel, akár Magyarországon – akár külföldön szánja el magát valamilyen pénzügyi manőverre.
    </p>
    <p>
        Jelezze felénk bizalommal igényét és mi a legmegfelelőbb partnerünkhöz irányítjuk.
    </p>
    <p>
        Kívánunk a továbbiakban, eredményekben gazdag pénzügyi sikereket.	
    </p>
    <p>
        Exclusive Team
    </p>
</article>