
@{
    ViewBag.Title = "Nem vagy bejelentkezve";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<h2>Nem vagy bejelentkezve</h2>

<p>
    Az oldal megtekintéséhez be kell jelentkezned a bal oldalon található bejelentkezési űrlap segítségével.<br/>
    Ha még nem vagy tagja az oldalnak, akkor a regisztrálnod kell.
</p>