<h3>Számítógépes ismeretek</h3>

<div class="form-group">
    @Html.Action("UjSzgep")
    <div class="col-md-10">
        @Html.Action("FelhIsm")
        @Html.Action("AdminIsm")
        @Html.Action("ProgIsm")
    </div>
</div>
