
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/letelepedes/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Tisztelt Ügyfelünk!</h3>

    <p>
        A lakóhelyünk vagy hazánk elhagyása egy igen jelentős esemény.<br />
        Igen nyomos oka van, s az ember életében nem sűrűn fordul elő.<br />
        Azonban manapság azt a világot éljük, hogy ezt is sokkal könnyebben és rugalmasabban tehetjük meg mint annak idején.
    </p>

    <p>
        Ez azonban nem hatalmaz fel bennünket arra, hogy ne a legmegfelelőbb körültekintéssel és alapossággal végezzük mindezt.
    </p>

    <p>
        Sajnos, vannak akik ezt egy egyszerű utazásnak veszik, - ami lehet, hogy sokaknál ez nem is történik másként -, csak ha ebben az esetben hibázunk annak jóval nagyobbak a következményei lehetnek, mint esetlegesen egy külföldi nyaralás alkalmával.
    </p>

    <p>
        Ezért nézzük meg még egyszer, mi késztetheti leginkább az embereket erre a változtatásra:
    </p>

    <ul>
        <li>a környezetében, felmerülő nehéz gazdasági helyzet, a válság, a recesszió</li>
        <li>a vállalkozásában, észlelhető szűkülő piaci viszonyok, csökkenő kereslet</li>
        <li>a munkahelyén realizált alacsony bér, magas járulékok és nem ritkán a  munkanélküliség veszélye</li>
        <li>a magasabb jövedelem lehetősége</li>
        <li>a jobb megélhetés, magasabb életszínvonal reménye</li>
        <li>nagyobbnak tűnő anyagi biztonság a jelenben és a jövőben</li>
        <li>stabilabb gazdasági, társadalmi helyzetkép</li>
        <li>Kiküldetés, kedvező állás ajánlat külhonban</li>
        <li>Jobb munka lehetőségek, magasabb juttatás, karrier</li>
        <li>Tudományos munka, tanulás lehetősége</li>
        <li>Egyéb személyes indok</li>
    </ul>

    <p>
        Szóba jöhet még esetlegesen politikai, társadalmi és egyéb kényszerek, amit most nem taglalunk.
    </p>

    <p>
        Az változást megélőknek ezekben a szituációkban, sok mindenre kell koncentrálni, ami teljesen természetes.
        Nincs lehetőségük minden részletet megismerni, ezért ismeretek hiányában, követnek el hibákat és mérlegelnek helytelenül.
    </p>

    <p>
        Teljesen másként éli meg az ember lakosként, polgárként a helyzetét, mint turistaként vagy külső szemlélőként.
    </p>

    <p>
        <b>
            E miatt szeretnénk megosztani a tapasztalatainkat és figyelmeztetni Önöket néhány fontos dologra.
            Szeretnénk értékes tanácsokkal, javaslatokkal ellátni Önöket, s néhány szakmai feladatot Önök helyet elvégezni.
        </b>
    </p>

    <p>
        A szolgáltatásunkkal egy csokorba kívántuk szedni a szükséges és ajánlott tenni valókat mely igény alapján megfelelő helyre közvetíteni Önöket.
    </p>

    <p>
        Van akinek mindre, van akinek csak néhányra, de olyan is akad, akinek csak egy - egyre van szüksége.
    </p>

    <p>
        <b>
            Mindenki döntsön belátása szerint és forduljon hozzánk bizalommal!
        </b>
    </p>

    <p>
        Sok sikert kívánunk!
        <br/>
        Exclusive Team
    </p>
</article>


