
@{
    ViewBag.Title = "Az ausztriai munkavállalás titkai";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<h2>Az ausztriai munkavállalás titkai</h2>

<article>
    <p>
        <b>Kiutazás előtti titkok:</b> miről kell, hogy tájékozódjon az ausztriai munkaviszonyba lépés előtt?<br/>
        <b>Az ámítás titkai:</b> Ne dőljön be minden hirdetésnek!<br />
        <b>Az ott tartózkodást apró titkai:</b> Ha le tudtam volna informálni….<br />
        <b>A titkok titka:</b> hogy fogok ott beszélni?<br />
        <b>A biztonság titka:</b> szinte elengedhetetlen, hogy ne legyen széleskörű, mindenre kiterjedő biztosítása!
    </p>
    <p>
        Rengeteg dolgot kell tisztázni és mérlegelni. Kivéve, ha nem kalandorként, egyedül indul munkába. A munkavállalás nem gyerekjáték. Hosszú időre megszabhatja e döntése az életét. Célszerű rászánni egy kis időt. A legelső, hogy hova akar menni, melyik tartományba?
        Milyen munkakörbe/munkakörökbe?
        Kell-e, vagy sem munkavállalási engedély, ha igen, hogyan lehet azt megszerezni?
        Kinek a feladata az engedély beszerzése? Kell e regisztráció?
        A szállás, étkezés lehetőségei, ezek költsége. Munkaruházat, védőfelszerelések, esetleges eszközök.
        Fontos! Kinek a költsége, kinek kell gondoskodni a beszerzéséről.
        Mik a munkába lépés és a munkaviszony alatt fellépő költségek?
        A munkabér pontos összege, levonások, a kifizetés módja, ideje.
        Munkavégzés kezdete, vége, beosztás, napi, heti, havi óradíj, túlóra, szabadság, stb.
        Jó tájékozódni az életvitel, szokásjogok, törvények, kötelességek, kultúra, elvárások területén, ez tartományonként eltérő lehet.
    </p>
    <h4>Mire számíthat? Az ámítás titkai..</h4>
    <p>
        Ne dőljön be minden hirdetésnek! Nem minden arany, ami fénylik. Ausztriában is keményen meg kell dolgozni a munkabérért. Nagyon fontos a fegyelem, a pontosság.
        A fizetések átszámolása magyar forintba gyakran félrevezető lehet, hiszen olyan költségek merülhetnek fel az itt élés okából, amelyek nem magyar pénztárcához vannak szabva.
        Ha ezeket levonják, már teljesen másként néz ki a jövedelem.
        A magyarokat, mint a legtöbb külföldit gyakran a legalacsonyabb bérért alkalmazzák - a szakmájuk és a munkavégzésük tekintetében.
        Érdemes mindennel számolni.
    </p>
    <h4> A kiutazás, munkába állás, ott tartózkodást apró titkai.</h4>
    <p>
        Ha le tudta informálni, - ha nem, akkor kockáztat - (mert aki Önt alkalmazza biztos, alkalmaz más külföldit is) úgy sikerült referenciát kapni a munkaadójától.
        Ha munkavállalás mellett döntött, feltétlenül egyezzenek meg a munka kezdeti stádiumában is ami a kiutazást és az azt követő próba napokat illeti.
        A szerződéskötéskor fontos értelmeznie, lefordítani a munkaszerződést.
        Ehhez, mi szintén minden segítséget meg tudunk adunk.
        A munkaszerződése biztosan nem magyarul, hanem németül írattatik, úgy, írni alá, hogy nem ismeri a tartalmát, nem bölcs dolog.
        Figyelem az osztrákoknál működik a szóban kötött szerződés is.
        Érdemes tisztázni a felmerülő költségeket is, étkezés, szállás, stb.
    </p>
    <h4>A titkok titka: hogyan fogok ott beszélni?</h4>
    <p>
        Amennyiben nincs nyelvismerete…..
        Minden külföldinek ez az igazi „mumus”, hisz nem csak a munkában, hanem a magánéletben is találkozni fog a nyelvtudás esetleges hiányával.
        Ezért fontos jól megválasztani a tartományt. A határ közelében sokan beszélnek magyarul és sokan dolgoznak kint, akár ingázók is. Ez biztonságosabb annak, akinek nincs nyelvtudása.
        Ne gondolja senki, hogy 3 hónap alatt meg lehet tanulni egy nyelvet. Ez keveseknek adódik meg.
        Főleg nem munka mellett.
        Ha nem tud németül, nyilván olyan munkakörbe helyezik, amelyik nem „beszélős”.
        S ha nem beszél, nem gyakorol, a haladás is nehéz.
        Otthon sem könnyű egyedül tanulni.
        Ha magyar kollégával, vagy családdal van, akkor meg pláne, hisz a kommunikáció mindig magyar marad.
        Először feltétlen végezzen el valamilyen előképző kurzust, amiben mi is tudunk segíteni.
        E nélkül csak a nagyon bátraknak ajánljuk belevágni a közepébe.
    </p>
    <h4>A biztonság titka: szinte elengedhetetlen, hogy ne legyen széles körű, mindenre kiterjedő biztosítása. Legalább a kezdeti időkre, míg a munkahelyén is stabilizálódik minden.</h4>
    <p>
        Biztonságáról feltétlenül gondoskodjon itthon, mert nem tudhatja a végkimenetelét a munkavégzésnek, s ha nincs biztosítása számtalan komoly költség merülhet fel.
        Ezzel kapcsolatosan több módozatból választhat a magyar biztosítási palettán, de segítünk mi is.
        Attól, hogy nem kérnek útlevelet a határon - igaz előfordul néha, de ennek ellenére csak úgy lépheti át a magyar országhatárt, ha vannak érvényes úti okmányai.
        Ön idegen országban van és nem vonatkozik Önre sok olyan kedvezmény és jogosultság ami Magyarországon magától érthető.
    </p>
    <p>
        Nem kívánunk senkit elriasztani a külföldi munkavállalástól.
        Sőt! Csak nem szeretnénk, ha kivédhető hibák miatt kerülnének kellemetlen helyzetbe.
        Nincs benne semmi ördöngösség, csak felkészültnek kell lenni, hogy a feladatokat hogyan oldjunk meg, melyek eltérnek az itthoni gyakorlattól.
        Ezen az ÚTON kívánjuk betölteni a lámpás szerepét.
    </p>
</article>

