
@{
    ViewBag.Title = "Hogyan regisztráljak? Milyen csomagot válasszak? ";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<h2>Hogyan regisztráljak? Milyen csomagot válasszak?</h2>

<article>
    <h2>1. Döntés előtt….</h2>
    <i>
        <p>
            Nem vagyok elégetlen a helyzetemmel, de érzem, több van bennem és látom ennek kivitelezése e környezetben , most, nagy erőfeszítésbe kerül… ami méltatlan hozzám. Vannak környezeti aggályok, melyek nehezítik a távozást, a döntést (barátok, barátnők, család, rokonság, haverok, megszokások) s még nem kondították meg a lelkemben az égiek a vészharangot, de érzem: valami van ,de nem az igazi..
        </p>  
        <p>
            Igen, szívesen kipróbálnám magam új környezetben, új helyzetben és az sem lenne baj, ha más szemszögből látnám a világot, a világom.
        </p>
        <p>
            Sőt! Az is jó lenne, ha kinyílna egy kicsit a tér előttem. Az sem lenne nagy baj, ha egy nyelvet  jobban beszélnék, mint ez előtt.
            Magabiztosabban és a nagyobb esélyekkel indulhatnék a helyi munkaerő piacon, ha meguntam a külföldi tartózkodást…
        </p>
    </i>
    <p>
        Ez esetben az 1. Csomagot javasoljuk.
        Önt csak foglalkoztatja ausztriai munkalehetőség, tudjon meg többet róla!
        A bátrabbaknak, már rögtön a 2. Csomagot ajánljuk, ne aprózza, mert amint belekóstol az  1. csomagba,  rögtön 2 lesz belőle….
    </p>
    <p>
        Teendő:
    </p>
    <ol>
        <li>Regisztrál a honlapunkra</li>
        <li>Letöltheti <u><b>INGYEN</b></u> E-book oldalunka, amiben tájékozódhat Ausztriáról, és a munkavállalásról</li>
        <li>Megtekinthet <u><b>INGYEN</b></u> néhány állás ajánlatot</li>
        <li>Igénybe veheti INGYENES hírmagazin szolgáltatásunkat, HA IGAZÁN JÓT AKAR...</li>
    </ol>
</article>
<article>
    <h2>2.	Már megszületett, s érlelődik a gondolat...</h2>
    <p>
        <i>
            Önnek már komoly ismeretei vannak a külföldi munkavállalásról. Vagy informálódott, vagy kipróbálta az 1. csomagot,….. vagy régi vágya.
            A lényeg: tudja mit akar.
            Megfogalmazódott a cél, megfogalmazódott, hogy hogyan oldja meg az itteni feladatokat - már akinek vannak - , melyek a sima munkavállalást elősegítik.
            Letisztult tényekkel néz szembe. Már csak fel kell tenni az „i”-re a pontot. Realisztikus és csak az a kicsi hiányzik…..
        </i>
        <br/>
        A 2. Csomagot javasoljuk, de nem a vakmerőknek és kalandornak
        Az övék a 3-as Csomag!
    </p>
    <p>
        Teendő:
    </p>
    <ol>
        <li>Regisztrál a honlapunkra</li>
        <li>Letöltheti <u><b>INGYEN</b></u> E-book oldalunka, amiben tájékozódhat Ausztriáról, és a munkavállalásról</li>
        <li>Megtekinthet <u><b>INGYEN</b></u> néhány állás ajánlatot</li>
        <li>Igénybe veheti INGYENES hírmagazin szolgáltatásunkat, HA IGAZÁN JÓT AKAR...</li>
        <li>Igénybe veheti osztrák hírlevél szolgáltatásunkat</li>
        <li>Kitölti Önéletrajz adatlapunkat</li>
        <li>Amennyiben igényli, mi német nyelvre lefordítjuk és a hírlevél küldő rendszerünkön elküldjünk a velünk kapcsolatban lévő munkáltatóknak</li>
        <li>Ezek után Ön hozzáfér az általunk nyilvántartott munkalehetőségek teljes repertoárjához</li>
        <li>Közvetlenül veheti fel a kapcsolatot velük</li>
    </ol>
</article>
<article>
    <h2>3. Egy letisztult elképzelés….</h2>
    <p>
        <i>
            Ön az a személy, akinek határozott elképzelése van.
            Tudja mivel jár a külföldi munkavállalás.
            Az is előfordulhat, hogy már meg is kóstolta ezt a munkalehetőséget.
            Ismeri előnyeit, hátrányait.
            Nem remél, tudja: magának ez kell.
            Már minden kész, csak a kellő pillanatra vár, a kedvező ajánlatra és nem kapkodja el.
            Jó szelet, sok sikert, válasszon Ön!
        </i>
        <br/>
        „Nincs” javaslatunk .
        Ön úgy is tudja.
        Az Ön csomagja a 3-as.
    </p>
    <p>
        Teendő:
    </p>
    <ol>
        <li>Regisztrált a honlapunkra</li>
        <li>Letöltötte <u><b>INGYEN</b></u> E-book oldalunkat, amiben tájékozódott Ausztriáról, és a munkavállalásról</li>
        <li>Megtekintett <u><b>INGYEN</b></u> néhány állás ajánlatot</li>
        <li>Jót akart és igény bevette INGYENES hírmagazin szolgáltatásunkat, hisz IGAZÁN JÓT AKART...</li>
        <li>Kitöltötte Önéletrajz adatlapunkat</li>
        <li>Mi német nyelvre lefordítjuk és a hírlevél küldő rendszerünkön elküldjük a velünk kapcsolatban lévő munkáltatóknak Önéletrajzát</li>
    </ol>
    <b>+ 1 Fizetett hirdetésével találja meg a legjobb állást</b>
</article>

