
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/cegalapitas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Nemzetközi cég alapítás</h3>
    
    <h4>Kedves leendő ügyfelünk!</h4>
    
    <p>
        Miként Magyarországon, úgy az Európai Unióban is többféle társasági formában lehet vállalkozni.
        Külföldi cégalapítás esetén a választott társasági formának megfelelően kell működtetni a vállalkozást, illetve annak fizetésképtelensége esetén az előírások szerint tartoznak érte a tagok a betét összegéig vagy saját vagyonukkal felelni.
        Mivel azonban az adózás több országban <b>kedvezőbb feltételeket biztosít</b> a különböző kereskedelmi tevékenységek folytatásához, általánosságban elmondható, hogy kisebb befektetéssel és stabilabb körülmények között indíthat vállalkozást az, aki az külföldi cégalapítás mellett dönt, hiszen a nyereségből kevesebbet visz el az adó.
        Fentiekből adódóan, a külföldi cégalapítás két legnagyobb előnye, hogy <b>nagyobb haszonnal</b> működtethető a vállalkozás, és <b>kisebb a csőd esélye</b>.
    </p>
    
    <p>
        A következő országokban kívánjuk kiterjeszteni vállaljuk a cégalapítást:
    </p>
    
    <p>
        Ausztria - Szlovákia - Anglia - Horvátország - Románia - Szerbia - Svájc
        Csehország - Németország  -  Spanyolország
    </p>
</article>

