
@{
    ViewBag.Title = "Kapcsolat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Kapcsolat</h3>
    <p>Kedves ügyfeleink, amennyiben emailt kívánnak küldeni, akkor azt itt megtehetik:</p>
</article>


