
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/behajtas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Követelés behajtás</h3>
    
    <h4>Tisztelt Olvasó!</h4>
    
    <p>
        Cégről vagy magán személyről van szó?
    </p>
    
    <p>
        Önnek tartoznak vagy Ön tartozik?
    </p>
    
    <p>
        Bízza szakértőre!
    </p>
    
    <p>
        Magyarország legkorrektebb követelés behajtó cégére.
    </p>
    
    <p>
        <b>
            Kérje az információt a munkatársunktól!
        </b>
    </p>
</article>