
@{
    ViewBag.Title = "Külföldi cégalapítás";
    Layout = "~/Areas/cegalapitas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Külföldi cégalapítás</h3>
    
    <h4>6.2 A külföldi cégalapítás országai</h4>
    <ul>
        <li>Ausztria</li>
        <li>Szlovákia</li>
        <li>Anglia</li>
        <li>Horvátország</li>
        <li>Románia</li>
        <li>Szerbia</li>
        <li>Svájc</li>
        <li>Cseh</li>
        <li>Német</li>
        <li>Spanyol</li>
    </ul>
</article>

