
@{
    ViewBag.Title = "A karrierhez vezető út lépései";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<h2>A karrierhez vezető út lépései</h2>

<article>
    <h3>Ön csak ÉRDEKLŐDŐ és NEM DÖNTÖTT</h3>
    <p>Teendő:</p>
    <ol>
        <li>Regisztrál a honlapunkra</li>
        <li>Letöltheti INGYEN E-book oldalunka, amiben tájékozódhat Ausztriáról, és a munkavállalásról</li>
        <li>Megtekinthet INGYEN néhány állás ajánlatot </li>
        <li>Igénybe veheti INGYENES hírmagazin szolgáltatásunkat, HA IGAZÁN JÓT AKAR...</li>
    </ol>
</article>
<article>
    <h3>Ön DÖNTÖTT és NEM A SZERENCSÉRE kívánja bízni a sorsát.</h3>
    <p>Önnek komoly elképzelései vannak az ausztriai munkavállalással kapcsolatban és igénybe veszi hírlevél szolgáltatásunkat..</p>
    <p>Teendők:</p>
    <ol>
        <li>Regisztrál a honlapunkra</li>
        <li>Letöltheti INGYEN E-book oldalunka, amiben tájékozódhat Ausztriáról, és a munkavállalásról</li>
        <li>Megtekinthet INGYEN néhány állás ajánlatot </li>
        <li>Ha jót akar, vegye igénybe INGYENES hírmagazin szolgáltatásunkat, HA IGAZÁN JÓT AKAR….</li>
        <li>Igénybe veheti hírlevél szolgáltatásunkat</li>
        <li>Kitölti Önéletrajz adatlapunkat.</li>
        <li>Amennyiben igényli mi német nyelvre lefordítjuk és a hírlevél küldő rendszerünkön elküldjünk a velünk kapcsolatban lévő munkáltatóknak</li>
        <li>Ezek után Ön hozzáfér az általunk nyilván tartott munkalehetőségek teljes repertoárjához</li>
        <li>Közvetlenül veheti fel a kapcsolatot velük</li>
    </ol>
</article>
<article>
    <h3>1.0  TURBÓ VERZIÓ, - ÖN már DÖNTÖTT és CÉLTUDATOS</h3>
    <p>
        Ne elégedjen meg az adott lehetőséggel! Ne Önt válasszák!
        Válassza Ön, a legjobb munka lehetőséget.
        Segítse és gyorsítsa elhelyezkedését PRIVÁT hirdetéssel.
    </p>
    <p>Ha már ezeken túl van...</p>
    <ol>
        <li>Regisztrált a honlapunkra</li>
        <li>Letöltötte INGYEN E-book oldalunkat, amiben tájékozódott Ausztriáról, és a munkavállalásról.</li>
        <li>Megtekintett INGYEN néhány állásajánlatot .</li>
        <li>Jót akart és igény bevette INGYENES  hírmagazin szolgáltatásunkat, hisz IGAZÁN JÓT AKART...</li>
        <li>Ki töltötte Önéletrajz adatlapunkat</li>
        <li>Mi német nyelvre lefordítottunk és a hírlevél küldő rendszerünkön elküldtük a velünk kapcsolatban lévő munkavállalóknak Önéletrajzát.</li>
    </ol>
    <b>+ 1 Fizetett hirdetésével találja meg a legjobb állást! </b>
</article>