
@{
    ViewBag.Title = "Hogyan kerülheti el a 7 legnagyobb hibát ausztriai munkavállaláskor";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<h2>Hogyan kerülheti el a 7 legnagyobb hibát ausztriai munkavállaláskor</h2>

<article>
    <ol>
        <li>
            <b>Vesse el az irrealisztikus elképzeléseket a külföldi munkavállalásról.</b><br/>
            A nagy lehetőségek hazája, az aranyásók kora és a legkisebb fiú meséje már a múlté.
            Ne hazardírozzon!  Feltéve, ha nem ez a célja!
            A munkaerő piacon nagyon kemény törvények uralkodnak. Igazi farkastörvények.
        </li>
        <li>
            <b>Közvetítő irodák</b> tekintetében legyen körültekintő. Csak regisztrált, nyilvántartott irodákkal működjön együtt. Ne fizessen előre, meggondolatlanul horribilis összegeket.
        </li>
        <li>
            <b>Újságok apró hirdetései esetén,</b> ahol könnyű munkát, nagy fizetést, alkalmi munkát, nyelvtudás nélküli állást kínálnak, stb. Legyen óvatos!
            A bér egyenes arányban van az elvárással.
        </li>
        <li>
            <b>Ne írjon alá semmilyen munkaszerződést,</b> a szerződés tartalmának ismerete nélkül.
            Ezt hivatalos megbízható emberrel fordítassa le.
            Fontos, hogy olyannal, aki nem csak ismeri ezt a szövegkörnyezetet, hanem szakmailag is képzett.
        </li>
        <li>
            <b>Hivatalos okmányaiból,</b> (útlevél, személyigazolvány, jogosítvány) vigyen magával több másolatot.
            Hivatalos személyen kívül, senkinek ne adja a kezébe vagy ne helyezze megőrzésre.
            Nem hátrány, ha esetleges elvesztéskor, van belőle másolat.
        </li>
        <li>
            <b>Hiteles fordító irodával fordítassa</b> az okmányait még Magyarországon (bizonyítvány, diploma, végzettséget, képesítést adó dokumentumok, stb. Bizonyos esetben kérhetnek erkölcsit is). Olcsóbb itthon megcsináltatni és azonnal kéznél van. Lehet, hogy épp ez dönt?
        </li>
        <li>
            <b>Legyen Önnél feltétlenül</b> az Európai Egészségbiztosítási Kártyája (ki kell váltani).
            Plusz, igazolványkép, egyéb balesetbiztosítás, némi készpénz, - a biztonság okából - bankkártyán elérhető jelentősebb összeggel.
            Hazautazásra mindenképp tegyen félre.
        </li>
    </ol>
    
    <h3>Bónusz!</h3>
    
    <p>
        <b>Legyen ápolt, elegáns, felkészült, flexibilis, bármikor elérhető.</b>(Toll, notesz, névjegykártya, mobiltelefon)<br/>
        Mobiltelefonját állítassa „roaming” üzemmódba szolgáltatójánál.
        Minden fontos telefonszám, amit külföldről akar elérni, legyen magánál (40-80 –as körzetszámot nem lehet hívni.)
    </p>
    <p>
        A közlekedésről és egyéb rendszabályokról: az Ausztria tájékoztatóban olvashat. (jogosítvány, biztosítás, sebesség határok, felszerelések, segélyvonal, stb.)
    </p>
</article>

