
@{
    ViewBag.Title = "NEKÜNK AZ FONTOS, ami ÖNNEK FONTOS!";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<h2>NEKÜNK AZ FONTOS, ami ÖNNEK FONTOS!</h2>

<article>
    <p>
        Üzlet politikánk szakít az eddigi klasszikus munkaerő közvetítéssel.
        Ahol a munkaadó és munkavállaló közé ékelődik a közvetítő.
        Ez rengeteg probléma és félreértés forrása volt és még az most is.
        Meggyőződésünk, hogy igazán korrekt kontaktus csak akkor jön létre, ha a felek egymással
        az első pillanattól fogva - közvetlenül kommunikálnak.
    </p>
    <p>
        Ezért nem közvetítünk!
    </p>
    <p>
        Mi közvetlen lehetőséget adunk, hogy megtalálja egymást a munkaadó és munkavállaló.
    </p>
    <p>
        Mi nem a munkáltató és munkát kereső közé állunk, hanem a munkavállaló mellé!
    </p>
    <ul>
        <li>ha munkát talált, </li>  
        <li>ha dolgozik, </li>
        <li>ha kérdése van</li>
        <li>ha problémája van</li>
        <li>ha tovább akar lépni</li>
        <li>ha tanácstalan</li>
    </ul>
    <p>Az a mi pályánk az a mi területünk! Ott kell a segítség.</p>
    <p><b> A segítség akkor valódi segítség, ha akkor érkezik, amikor igazán kell!</b></p>
</article>

<article>
    <h3>NEKÜNK AZ FONTOS, ami ÖNNEK FONTOS!</h3>
    <ul>
        <li>hogy abba az országban ahova ingyen közvetítünk, legyen egy fióktelephelyünk, amely a hitelességet, a naprakészséget biztosítja.</li>
        <li>hogy a munkaadók és munkavállalók - helyben - akár személyes kapcsolatot tudjanak kialakítani</li>
        <li>szükség esetén a cél országon belül, /Ausztria/ elérhető, mozgósítható kollégák legyenek </li>
        <li>hogy Önöknek, magyar munkavállalóknak, telepített kapcsolattartó, tanácsadó álljon a rendelkezésére abban az országban, ahol dolgoznak</li>
        <li>hogy ismerjük a szokásjogokat az „íratlan szabályokat” arra a tartományra vonatkozóan</li>
        <li>hogy az érdeklődő osztrák munkáltatóknak mindig szabványos, precíz, kellő adatállományú, helyes formátumú, áttekinthető önéletrajz jelenjen meg a monitorán.</li>
    </ul>
</article>

<article>
    <h3>Miért is jó a rendszerünk? Miért egyszerű, gyors és hatékony?
        Hogy is működik?
    </h3>
    <ol>
        <li>Ön regisztrál és információkat tölthet le a honlapunkról, ausztriai munkahely keresés és elhelyezkedése érdekébe, igénybe veszi hírmagazin és fordító szolgáltatásunkat. </li>
        <li>Mi kiküldjük az általunk készített ellenőrzött Önéletrajzot a nyilvántartott munkaerő keresőknek. </li>
        <li>A hírmagazinunk /Korrekt Arbeitskraft/ megérkezését követően, AKÁR MÁSNAP, pl. próbanapra, illetve MUNKÁBA IS ÁLLHAT a munkavállaló.</li>
    </ol>
</article>

<article>
    <h3>Hihetetlen, hogy ilyen gyors és eredményes? Miért is?
        Mert teljesen más módszer, más szisztéma!
    </h3>
    <p>Ez azt jelenti, hogy a németre fordítást és hírlevél kiküldést követően</p>
    <ul>
        <li>több száz munkaadó monitorán megjelenik az önéletrajz, névvel, email címmel, telefonszámmal</li>
        <li>aki azonnal az olvasás után, közvetlenül felveszi Önnel a kapcsolatot </li>
        <li>azonnal reagálhat, megbeszélheti a részleteket, elküldhet egyéb információkat( papírokat, fotókat, dokumentumokat)</li>
        <li>azonnal megbeszélhető az interjú  </li>
        <li>tisztázható a kezdés, bemutatkozás, próbaidő feltételei, stb.</li>
        <li>azonnal realizálható a munkába állás</li>
    </ul>
</article>

<article>
    <h4>
        Ugye, így már érthető, hogy miért gyorsabb, eredményesebb a mi technikánk?
        Mi, nem a közvetítéssel foglalkozunk, hanem az ön karrierjével, és ami mögötte van: Az ÖN BIZTONSÁGA
    </h4>
</article>