
@{
    ViewBag.Title = "Welche Änderungen bringt der 1. 5. 2011 für den österreichischen Arbeitsmarkt?";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<article>
    <h2>Welche Änderungen bringt der 1. 5. 2011 für den österreichischen Arbeitsmarkt?</h2>
    <p>
        Ab diesem Zeitpunkt genießen die Staatsbürger aller neuen EU-Staaten (mit Ausnahme von Rumänien und Bulgarien) die volle Arbeitnehmerfreizügigkeit. Wolen sie in Österreich ein Beschäftigungsverhältnis eingehen, ist dafür keine Bewilligung mehr erforderlich. Ebenso ist die Entsendung von Arbeitnehmern aus diesen Staaten (wieder mit Ausnahme von Rumänien und Bulgarien) nach Österreich ohne Bewilligung möglich. 
    </p>
    <h2>Im Folgenden erhalten Sie erste Informationen zu den Änderungen, die der 1.5.2011 für den österreichischen Arbeitsmarkt mit sich bringen wird.</h2>
    <p>Von besonderer Bedeutung erweist sich dabei die Arbeitnehmerfreizügigkeit innerhalb der EU, die ab diesem Zeitpunkt für Staatsbürger aller neuen EU-Staaten mit Ausnahme von Rumänien und Bulgarien uneingeschränkt gilt.</p>
    <h3>Arbeitnehmerfreizügigkeit</h3>
    <p>Aufgrund von Übergangsbestimmungen in den Beitrittsverträgen war bis 30.4.2011 die Beschäftigung von Staatsbürgern der Staaten Ungarn, Polen, Tschechien, Slowakei, Slowenien, Estland, Lettland und Litauen in Österreich nach dem Ausländerbeschäftigungsgesetz bewilligungspflichtig.</p>
    <p>Ab 1.5.2011 gilt für Staatsbürger dieser Länder die volle Arbeitnehmerfreizügigkeit in Österreich: Wollen sie in Österreich ein Beschäftigungsverhältnis eingehen, ist dafür eine Bewilligung nicht mehr erforderlich. Sie dürfen auch sonst keinen Beschränkungen unterworfen werden, die nicht auch für Österreicher gelten.</p>
    <p>Arbeitnehmerfreizügigkeit gilt ab 1.5.2011 daher für Staatsbürger der folgenden Staaten.</p>
</article>

