
@{
    ViewBag.Title = "Irodalmi fordítás";
    Layout = "~/Areas/forditas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Irodalmi fordítás világ nyelven</h3>
    <p>
        Igény esetén kérésre megoldható fordítási feladatok, leginkább angol és német nyelv területről.
    </p>
    
    <p>
        <b>
            Kérje az információt a munka társunktól!
        </b>
    </p>
</article>