
@{
    ViewBag.Title = "Rólunk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Tisztelt Olvasó!</h3>

    <p>
        Nem minden cég mondhatja el magáról, hogy jövőre ünnepli a 20 éves évfordulóját és azt sem, hogy úttörőként indult Magyarországon az ingatlan, a munkaerő és egyéb közvetítések világában.<br/>
        Mi ezt elmondhatjuk magunkról, illetve azt, hogy munkatársainknak nem csak elméleti, hanem gyakorlati tapasztalatai vannak a külföldi letelepedés, cég alapítás területén, sőt saját maguk is kipróbálták, megélték a más országban, kultúrába való beilleszkedést.<br />
        Mindezek pozitívumait, negatívumait figyelembe véve alakítottunk ki egy szisztémát.<br />
        Amit előre kell jeleznünk, hogy sajnos ez nem úgy működik mint egy csoda tabletta, amit bevesz az ember és ettől fogva rá külföldön garantált karrier vár..<br />
        Mi célunk összetettebb és a lényeges döntést az ügyfeleinkre bízzuk.<br />
        Tapasztalataink figyelembe véve, mi a választható és járható utakat szeretnénk megmutatni, felhívni a figyelmet az esetleges buktatókra a nem látható veszélyekre .<br />
        Természetesen ennek felvállaltuk a missziós voltát is.<br />
        Ezért leginkább a „lámpás” szerepét szeretnénk betölteni.<br />
        Javasolni, megvilágítani a helyes UTAT.<br />
        Hiszen mindenkinek saját útja van és azon csak maga képes végig menni.<br />
        A döntéseket mindenki egyénileg kell hogy meg hozza.<br />
        Az útközben fellépő problémák megoldásában, kivitelezésében tudunk segíteni, hivatalos ügyeket tudunk felvállalni, ügyeket intézni, megbízást teljesíteni.<br />
        Javaslatokat, tanácsokat tudunk nyújtani bizonyos élethelyzetekben, de a döntést, mindenki maga hozza meg.<br />
        A helyes döntések halmazából áll össze a siker, még akkor is ha gyakran a kudarcokat is meg kell élnünk. De minden a fejben dől el, magunk döntjük el hogyan éljük meg a kialakult szituációkat.<br />
        A kudarc és siker egy pillanatnyi visszajelzés csak az utunkon, hogy épp miként teljesítünk.<br />
        S ugye, nem lehetünk mindig a toppon, szükségünk van több fajta helyzet megélésére, hogy helyes döntést hozzuk.<br />
        Egyébként is, amire azt mondjuk kudarc, legtöbbször az idő múlásával értelmet nyer..<br />
        A kérdés mindig csak az, tudunk e tanulni belőle?<br />
        Ha igen, akkor az Életünk, az Utunk egy változatos kaland és nem egy állandó harc magunkkal és környezetünkkel.<br />
        <b>Tehát, kalandra fel!</b><br />
        Mi ebben a kalandban akarunk Önnek, a közvetítő partnerei lenni.
    </p>
    <p>
        ZELDO Szolgáltató, Közvetítő és Kereskedelmi Korlátolt Felelősségű Társaság
    </p>
    <p>
        <b>ZELDO Kft.</b>
    </p>
    <p>
        <b>Telephely:</b> Magyarország<br/>
        Eger Kallóalom u. 78. 3/9.<br/>
        3300
    </p>
    <p>
        <b>Ügyvezető igazgató:</b> Zelei Józsefné<br/>
        Cégjegyzékszám: 10-09-031477<br/>
        Adószám: 11170406-2-30<br/>
        Törzstőke: 3.000.000 Ft.<br/>
        Alapítva: 1995
    </p>
    <p>
        <b>Ausztriai érdekeltség:</b> Schwedenplatz, 1010 Wien, Österreich<br/>
        GPS koordináták: 48.213349, 16.36658247<br/>
        Wormerstraße, 7000 Eisenstadt, Österreich /Burgerland/
    </p>
</article>