
@{
    ViewBag.Title = "Német - Angol nyelvoktatás";
    Layout = "~/Areas/oktatas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>11.2 Német - Angol nyelvoktatás</h3>
    <i>Szervezés alatt.</i>
</article>