
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/oktatas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Nyelvoktatás és egyéb képzés</h3>
    
    <h4> Tisztelt Olvasó!</h4>
    
    <p>
        Gondolom azzal nem mondunk semmi újat, hogy lassan a <b>külföldi munkavállaláskor a nyelvtudás szinte elengedhetetlen.</b>
    </p>
    <p>
        Az mai idők emberénél a holtig tartó tanulás, az állandó képzés, szintén egy örök feladat.
        E nélkül már igen olajozatlanul működik minden.
    </p>
    <p>
        Aki nem képezi magát az lemarad.
    </p>
    <p>
        Az elcsépelt örök frázis a „több lábon állás” sem megy ki a divatból, hisz a rugalmasság, a flexibilitás elengedhetetlen a mai ember számára.
    </p>
    <p>
        Ezért szervezünk mi is igény és megfelelő jelentkező esetén nyelvoktatást és egyéb képzést, hogy az elhelyezkedés esélyeit ezzel is megtöbbszörözzük.
    </p>
    <p>
        Amennyiben ötlete vagy igénye van feltétlenül jelezze munkatársunknál.
    </p>
</article>