
@{
    ViewBag.Title = "Könyvelés";
    Layout = "~/Areas/konyveles/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>7.2 Könyvelés - partner iroda ajánlással</h3>
    
    <h4>7.2.1 Egyéni vállalkozás könyvelés</h4>
    <h4>7.2.2. Társas vállalkozás könyvelés</h4>
    
    <p>
        Azoknak a személyeknek akiknek egyéni vállalkozásuk vagy társas vállalkozásuk van szükségük van könyvelőre, könyvelő irodára.
    </p>
    
    <p>
        Partner irodáink szívesen segítenek Önöknek.
    </p>
    
    <p>
        Magyarországi partnereink:
    </p>
    <i>
        Hamarasson...
    </i>
    
    <p>
        Ausztriai partnereink:
    </p>
    <i>
        Hamarasson...
    </i>
</article>

