
@{
    ViewBag.Title = "Adótanácsadás";
    Layout = "~/Areas/konyveles/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>7.3. Adótanácsadás - partner iroda ajánlással</h3>
    
    <h4>7.3.1. Adótanácsadás magánszemély esetén</h4>
    <h4>7.3.2. Adótanácsadás vállalkozó – cég esetén</h4>
    
    <p>
        A partner adótanácsadóink segítik az ügyfeleket a jogszabályi megfelelésben valamint az adóterhek és adózási kockázatok csökkentésében.
    </p>
    
    <p>
        Sok országban magánszemélyeknek nem kötelező évente adóbevallást tenni de senkinek sem árt egy adótanácsadó, aki tájékoztatást ad az éppen aktuális kötelezettségekről és a jogainkról.
    </p>
    
    <p>
        Nem árt utána nézni és kikérni a véleményünket.
    </p>
    
    <p>
        Jelezzék igényüket felénk, hogy feltudjuk venni velük a kapcsolatot.
    </p>
</article>