
@{
    ViewBag.Title = "Könyvelés és adótanácsadás";
    Layout = "~/Areas/letelepedes/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>2.5 Könyvelés - Adótanácsadás - partner iroda ajánlással</h3>

    <h4>2.5.1. Könyvelés </h4>
    <p>
        Azoknak a személyeknek akiknek egyéni vállalkozásuk vagy társas vállalkozásuk van szükségük lehet könyvelőre.
        A magánszemélyeknek Ausztriában eddig, például nem kötelező évente adóbevallást tenni, de senkinek sem árt egy szakavatott adótanácsadó, aki tájékoztatást ad az éppen aktuális kötelezettségekről és a jogainkról, - legalább egyszer.
    </p>
    
    <h4>2.5.2. Adótanácsadás</h4>
    <p>
        Azt sem árt figyelembe venni, hogy vannak olyan munkavállalási viszonyok amikor a munkavállalónak adó visszatérítés jár.
    </p>
    
    <p>
        Nem árt utána nézni és kikérni a véleményüket!
    </p>
</article>

