
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/jogiszolgaltatasok/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Tisztelt Olvasó!</h3>
    <p>
        Tapasztaltból tudjuk, nincs rosszabb, amikor az ember belecsöppen egy ismeretlen kultúrába, egy más társadalmi rendbe, ahol abszolút eltérő szokásjogok, eltérő erkölcsi normák a jellemzők s számtalana hivatalos dolgot kell intéznünk, munkát vállalkunk, sok esetben lakhelyet változtatunk stb. 
    </p>
    
    <p>
        A hivatalos feladatok megoldásához gyakran jogi háttér szükséges, mint például az adás vételi vagy szerződések. Gyakorta még közjegyző is feltételezhető, sőt ha nem értjük pontosan az idegen nyelvnek ezen szövegkörnyezetét, a közjegyző jelenlétében helyet foglaló tolmács is szükségeltetik. 
    </p>
    
    <p>
        Ő az aki fordít mindent, hogy minden érdekelt fél, megfelelően tájékoztatva legyen a szerződések tartalmát illetően. Valljuk be ez így van rendjén. Hiszen pontosan akarjuk tudni mit írunk alá.
    </p>
    
    <p>
        Ausztriában szükség lehet sok más esetben is jogi képviseletre, mint bárhol a világon, hogy csak a legegyszerűbb példát vegyük, amikor céget alakítunk vagy bármely vitás munkahelyi, illetve magán problémát szeretnénk tisztázni.
    </p>
    
    <p>
        Egy idegen országban pedig különösen fontos,  biztonságban érezzük magunkat.
    </p>
    
    <p>
        Ennek alapja ha a igény megszületése előtt feltérképezzük a terepet és jó időben egy „saját” ügyvédünk van, akihez bármikor fordulhatunk gyors tanácsért.
    </p>
    
    <p>
        Hiszen gyakorta sok minden múlhat a gyorsaságon.
    </p>
    
    <p>
        Ezt a célt próbálja segíteni oldalunk ahol tapasztalt jogászok, ügyvédek egyengetik utunkat.
    </p>
</article>
