
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ingatlan/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>4.4. Ingatlan értékbecslés</h3>
    
    <h4>4.4.1. Ingatlan értékbecslés</h4>
    <p>
        Hitel felvételekor a bankoknak szükséges az ingatlan felértékelése.
        Értékbecslő szakember partnereink e tekintetben is rendelkezésre állnak.
    </p>
    <p>
        Értékbecslőink:
    </p>
    <i>Hamarossan...</i>
</article>