
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/konyveles/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Könyvelés – Adótanácsadás – Adó visszaigénylés</h3>
    
    <h4>Kedves leendő Ügyfelünk!</h4>
    
    <p>
        A mai világban egy jó könyvelő iroda és egy jó könyvelő aranyat ér.
        Az állandóan változó adójogszabályok forgatagában, csak képzett és jól felkészült személy tud eligazodni.
    </p>
    
    <p>
        Ez bizony az ügyfeleknek súlyos százezreket jelenthetnek pluszban vagy mínuszba.
        Bizony, ez már  nem játék. Illetve az sem az ha valamit  - ha nem is szándékosan - elfelejtünk beadni, bevallani az adóhivatalnak mert annak beláthatatlan következményei vannak.
    </p>
    
    <p>
        Szóval nagyon fontos a jó könyvelő, adótanácsadó, mert vállalkozásunkat üzleti életünket ezen területét minden esetben helyes irányba tudja terelni. Tanácsaival, javaslataival pedig lényegesen nagyobb jövedelmet takarít meg, mint amennyi a költség oldalon megjelenik.
        Ne szabad megfeledkezni az estlegesen megjelenő adó visszatérítésről, visszaigénylésekről, hiszen az adót nem csak fizetni kell, hanem az vissza is jár, -  bizonyos szituációkban.
    </p>
    
    <p>
        Kérjék ajánlatunkat.
    </p>
</article>

