@{
    ViewBag.Title = "Főoldal";
}

<article>

    <h3>
        Kedves leendő ügyfelünk!
    </h3>

    <p>
        Gondolom senkinek sem új  információ, hogy egyre több honfitársunk keresi megélhetését a határainkon túl.
        Ezt sajnos sokan kudarcként élik meg és igen komoly anyagilag, erkölcsi, lelki veszteséggel zárnak le egy külföldi letelepedésre irányuló próbálkozást vagy külföldi munka vállalást.
    </p>

    <p>Mi késztetheti embereket egy ilyen váltásra?</p>

    <ul>
        <li>
            a <i>környezetében, felmerülő</i> <b>nehéz gazdasági helyzet</b>, a <b>válság</b>, a <b>recesszió</b>
        </li>
        <li>
            a <i>vállalkozásában</i>, észlelhető <b>szűkülő piaci viszonyok, csökkenő kereslet</b>
        </li>
        <li>
            a <i>munkahelyén realizált</i> <b>alacsony bér, magas járulékok</b> és nem ritkán a <b>munkanélküliség</b> veszélye
        </li>
    </ul>

    <p>
        Mind emellé társul a <b>nehezebb megélhetés</b>, a <b>növekedő adóterhek</b>, <b>anyagi bizonytalanság</b>, a <b>deviza hitelek és még megannyi tényező</b>, amely csak növelik az úgyis mindennapi stressz hatást.
    </p>

    <p>
        <u>Ismerősek Önnek is ezek a szavak?</u>  <u>Talán meg is éli ezeket?</u>
    </p>

    <p>
        Magától érthető, sőt teljesen természetes,  - ha ily sok <b>bizonytalansági</b> tényező kúszik be a mindennapi életben - hogy ez többünket komolyabb változtatásra késztet.
    </p>

    <p>
        Sokan azonban a  külföldi munka vállaláskor vagy lakóhely változtatáskor, ismeretek hiányában, óriási hibákat követnek el és esnek különböző csapdákba.
    </p>

    <p>
        Ez sokszor annak róható fel, hogy teljesen egészében tájékozatlanok vagy valótlan információk birtokában  vannak vagy rosszul tájékoztatják őket.
        Ezért fordulhat elő az, hogy felesleges fizetnek ki pénzeket /”önzetlen segítőknek”/ illetve adnak ki kisebb vagyonokat szakértelmet nélkülöző cégeknek.
    </p>

    <h4>
        Mi fenti hibák elkerüléséhez kínálunk megoldást!
    </h4>

    <p>
        Azonban, az érem másik oldala, hogy nem csak anyagi kár érheti Önöket, hanem komoly juttatásoktól, kedvezményektől eshetnek el, mert személyükre, családjukra vagy vállalkozásukra nézve, helyi intézmények által meghirdetett rugalmas és vállalkozó barát támogatásokat nem kérnek meg,  vagy a hivataloktól alanyi jogon járó összegeket nem igényelnek vissza.
    </p>

    <p>
        Sajnos sokan nincsenek  tisztában a  legális, az Unió minden polgára részére igénybe vehető, kedvező külföldi cégalapítási szabályokról /nem offshor cég/, amivel magyarországi állampolgárként, akár milliókat is meg takaríthatnak évente.
    </p>

    <h4>
        Mi birtokában vagyunk ezen ismereteknek.
    </h4>

    <p>
        Ezért ha bennünket keres meg és átfogó szolgáltatásainkat igénybe veszi, közelebb juthat egy feszültség mentes, nyugodt atmoszférához, ahol a vállalkozását tervezhető, vállalkozóbarát, lojális környezetben tudhatja.
    </p>

    <p>
        Megalapozva ezzel a családja, maga és nem utolsósorban a gyermeke jövőjét.
    </p>

    <p>
        Erre gondolt?<br />
        <b>
            Akkor START!<br />
            KLIKK  IDE!
        </b>
    </p>

    <p>
        Bízunk abban hogy munkatársaink felkészültsége illetve szolgáltatásaink hozzá segítik  Önt ahhoz, hogy valóra váltsa álmait, céljait.
    </p>

    <p>
        Ehhez kívánunk sok sikert!
        <br />
        Exclusive Team
    </p>

</article>