@{
    ViewBag.Title = "Nem vagy bejelentkezve";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<h2>@MainLang.nem_vagy_bejelentkezve</h2>

<p>
    @MainLang.be_kell_jelentkezni
</p>