
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/ingatlan/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Kedves leendő Ügyfelünk!</h3>
    <p>
        A legtöbb személynek, aki külföldön vállal munkát általában távol esik a lakóhelye a munkavégzéstől. Ezért gazdaság okból is érdemes a munkahelyünk közelében lakni, csökkentve ezzel az anyagi kiadásunkat.
        Azonban az útiköltségen túl, az erre ráfordított idő sem lényegtelen, hisz az idő pénz.
        Ennek a kiválasztásában, minőség-ár arány megtalálásában tudunk segítséget nyújtani.
        S ami a legfontosabb, tőlünk, illetve a partner irodáinktól meg tudhatja a leglényegesebbet.
    </p>
    
    <h3>Hol? Mennyiért? Miért? Hogyan? Meddig?</h3>
    <p>
        Társirodáink régóta a piacon lévő, elismert közvetítő irodák, széleskörű ügyfélkörrel, tapasztalattal.
        Önnek nem kell mást tenni, mint rá kattint a célterületek cím szó alatt a linkekre és láthatja az ajánlatokat.
        Ebből a kínálatból tudnak kedves ügyfeleink választani.
        Amennyiben felkeltette érdeklődésüket valamely ingatlan, a cég kollegái állnak szíves rendelkezésükre.
        Ily módon juthatnak Önök további információhoz, illetve tekinthetik az ingatlanokat.
    </p>
</article>

