
@{
    ViewBag.Title = "Általános intézendők";
    Layout = "~/Areas/letelepedes/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>2.8. Általános intézendő feladatok </h3>
    
    <h4>2.8.1. Magánszemély esetében</h4>
    <ol>
        <li>Lakcím bejelentkezés  /Meldezettel/</li>
        <li>Családi pótlék </li>
        <li>Szociális segély - támogatás</li>
        <li>Jogosítvány</li>
        <li>Bankszámla privát (családtagoknak is)</li>
        <li>Oklevelek, dokumentumok hitelesítése</li>
        <li>Egészségbiztosítás,  E- Card / alanyi jogon családtagoknak/</li>
        <li>
            Gyermek elhelyezés
            <ol>
                <li>Óvoda</li>
                <li>Iskola</li>
            </ol>
        </li>
    </ol>
    
    <h4>2.8.2. Egyéni vállalkozás esetében</h4>
    <ol>
        <li>Működési engedély </li>
        <li>Kamarai tagság</li>
        <li>Adóhivatal - Adószámok</li>
        <li>Polgármesteri hiv. - bejelentési kötelezettség</li>
        <li>Általános tanácsadás - tapasztalatok, szokásjogok</li>
        <li>Általános menedzselés igény szerint</li>
        <li>Egyéb egyéni igények, feladatok</li>
    </ol>
</article>
