
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/weblap/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Weblap készítés</h3>

    <p>Egy jól elkészített, nagy látogatottsággal rendelkező honlap akkora előnyt tud jelenteni egy vállalkozásnak, amekkorát a hagyományos reklámozással, értékesítéssel nem lehet elérni.</p>
    <p>Egy jól működő webáruház nagyban növeli a cég forgalmát, ugyanis így már nem csak a helyi ügyfeleket lehet elérni, hanem országos, sőt nemzetközi szinteken is folyhat a kereskedés.</p>    
</article>

