
@{
    ViewBag.Title = "Bankszámla - Banki hitelek";
    Layout = "~/Areas/penzugy/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>8.3. Bankszámla - Banki hitelek</h3>
    
    <h4>8.3.1.Bankszámla nyitás</h4>
    <p>Ügyfeleinknek igény szerinti bankszámla nyitása magyar, illetve külföldi bankokban.</p>
    
    <h4>8.3.2 Banki hitelek</h4>
    <p>Ügyfeleinknek napra kész banki hitelek szakértelemmel rendelkező partnereinktől.</p>
    <p>Jelezze mindenkori igényét munkatársunknak!</p>
</article>