
@{
    ViewBag.Title = "Ausztriai befektetés";
    Layout = "~/Areas/penzugy/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>8.2. Ausztriai befektetés – Aktív vagyonkezelés</h3>
    
    <h4>8.2.1.Tőkekihelyezés és aktív vagyon kezelés Ausztriába - magánszemélyek számára</h4>
    <h4>8.2.2.Tőkekihelyezés és aktív vagyon kezelés Ausztriába - vállalkozások számára</h4>
    
    <ul>
        <li>Befektetések, rendszeres díjú megtakarítások Ausztriában</li>
        <li>Ausztriai banki titoktartás</li>
        <li>Ausztriai betétbiztosítás</li>
        <li>Biztonságos vagyonkezelés, stabil osztrák gazdasági háttér</li>
        <li>Befektetési stratégia professzionális vagyonkezelői felügyelettel</li>
        <li>Rugalmasság, hozzáférhetőség, kedvező, áttekinthető költségstruktúra</li>
        <li>Névre szóló vagyonérték</li>
        <li>Elkülönített ügyfélvagyon</li>
        <li>Inflációvédelem</li>
        <li>Legmagasabb AAA piaci minősítés, több évtizedes tapasztalat</li>
        <li>A világ legnagyobb vagyonkezelőinek használata, ötvözése</li>
        <li>Nem inkasszózható, devizakülföldiként nyilvántartott számla</li>
        <li>Önadózó megoldások magánszemélyek és vállalkozók részére</li>
        <li>Cégvagyon kihelyezése és kezeltetése Ausztriában</li>
    </ul>
</article>