
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/biztositas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>9.3.Gépjármű biztosítások</h3>
    
    <h4>9.3.1. Kötelező biztosítás</h4>
    <p>
        Ez az biztosítási forma, amelynek egy típusát megkötni kötelező, de nem mindegy kinél és mennyiért.
        Nem mindegy, hogy hol, akár melyik országban és hogy szabályos e ahogy tesszük?
    </p>
    
    <h4>9.3.2. Casco biztosítás</h4>
    <p>
        Az igazat megvallva az egyik leghűségesebb eszközünk is megérdemel némi biztonságot.
        Akkor érezzük az elmulasztott lépés szükségességét, amikor már késő.
    </p>
    <p>
        Gondoskodjunk „róla” is időben, megfelelően.
    </p>
    <p>
        Keresse a jó megoldás érdekében munkatársunkat.
    </p>
</article>