@using System.Threading
@{
    ViewBag.Title = MainLang.arak;
}

<h2>@MainLang.arak</h2>

@if (Thread.CurrentThread.CurrentCulture.Name == "hu")
{
    <h3>1. Fő szolgáltatásunk</h3>

    <p>
        <strong>1.1. Normál regisztráció</strong>
        <br />Költsége: ingyenes
        <br />Tartalmaz - jogosít:
    </p>
    <ul>
        <li> E-book letöltés</li>
        <li>Ingyenes, platina állás ajánlat megtekintésére</li>
        <li>12 hónapos Ingyenes előfizetés a magyar nyelvű „Job Zeitung” online újságra </li>
    </ul>
    <p>
        <strong>1.2. Gold regisztráció></strong>
        <br />Állás hirdetést tartalmazó regisztráció
        <br /> Költsége: egy emelt díjas SMS ára
        <br /> Tartalma - jogosít:
        <ul>
            <li> E-book letöltés</li>
            <li>Ingyenes, platina állás ajánlat megjelenítése</li>
            <li>12 hónapos Ingyenes előfizetés a magyar nyelvű „Job Zeitung” online újságra</li>
            <li>Fél hónapig állás hirdetésének megjelentetése az osztrák portálunkon</li>
            <li>Osztrák munkáltatók hirdetéseinek szabad megtekintése</li>
        </ul>
    </p>

    <p>
        <strong>1.3. Platina regisztráció</strong>
        <br />Állás hirdetést és Önéletrajz fordítást, propagálást tartalmazó regisztráció
        <br />Költsége:  4500 Ft
        <br /> Tartalma - jogosít
        <ul>
            <li> E-book letöltés</li>
            <li>Ingyenes, platina állás ajánlat megjelenítése</li>
            <li>12 hónapos Ingyenes előfizetés a magyar nyelvű „Job Zeitung” online újságra</li>
            <li>Fél hónapig állás hirdetésének megjelentetése az osztrák portálunkon</li>
            <li>Osztrák munkáltatók állás ajánlatainak szabad megtekintése</li>
            <li>Fényképes Önéletrajz lefordítása németre</li>
            <li>„Korrekt Arbeitskraft” /„Korrekt Munkaerő”/ hírmagazinunk az Önéletrajz megjelenítése 1 hónapig, amely kiküldésre kerül online és megjelenik rendszeresen monitorán azon munkáltatóknak, akik változtatni kívánnak jelenlegi munkaerő bázisukon.</li>
            <li>További szolgáltatásainkból akár 30 %-os kedvezmény </li>
        </ul>
    </p>

    <h3>2. A munkával közvetlenül kapcsolatos további szolgáltatásaink</h3>

    <p>Jelen szolgáltatás költsége: minden esetben egyéni megállapodás kérdése, az ügyfelünk egyénileg választja meg a csomag elemeit s a szolgáltatástól függően részletes ajánlatot teszünk.</p>
    <p>
        <strong>2.1. Munkaszerződés korrektura </strong>
        <br /> 2.1.1. Munkaszerződés fordítás, értelmezés
        <br /> 2.1.2. Tartalmi hibák feltárása /ha szükséges/ javaslattétel, javítás
    </p>

    <p>
        <strong>2.2. A leendő munkahely feltérképezés, értékelés </strong>
        <br /> 2.2.1. Személyes vizit
        <br /> 2.2.2. Kommunikáció a munkaadóval
    </p>
    <p>
        <strong>2.3. Munkalehetőség betöltésének teljes átvizsgálása </strong>
        <br /> 2.3.1. Személyes vizit
        <br /> 2.3.2. Kommunikáció a munkaadóval
        <br /> 2.3.3. Munkaszerződés fordítás, értelmezés
        <br /> 2.3.4. Tartalmi hibák feltárása /ha szükséges/ javaslattétel, javítás
        <br /> 2.3.5. Munkaválaló elkísérése
        <br /> 2.3.6. Tolmácsolás
        <br /> 2.3.7. Bértárgyalás, egyéb járulékok, juttatások, extra juttatások
        <br /> 2.3.8. Munkavállalói jogokról való tájékoztatás, kötelezettségek
        <br /> 2.3.9. Munkába „állítás”
    </p>

    <h3>3. A munkával közvetetten kapcsolatos szolgáltatásaink</h3>
    <p>
        <strong>3.1. Lakhatás biztosítása </strong>
        <br /> 3.1.1. Ideiglenes (vétel, bérlés)
        <br /> 3.1.2. Állandó (vétel - bérlés)
    </p>
    <p>
        <strong>3.2.Hivatalos papírok elintézése </strong>
        <br /> 3.2.1. Lakcím bejelentkezési lap
        <br /> 3.2.2. Jogosítvány
        <br /> 3.2.3. Szakképzettséget bizonyító okiratok
        <br /> 3.2.4. Erkölcsi bizonyítvány
        <br /> 3.2.5. Házasság levél, születési anyakönyvi kivonat, egyház papírok
        <br /> 3.2.6. Hivatalos fordítás, tolmácsolás
    </p>
    <p>
        <strong>3.3. Oktatási intézményi elhelyezés </strong>
        <br /> 3.3.1. Óvoda
        <br /> 3.3.2. Gyermekeknek Iskola
        <br /> 3.3.3. Felnőtt nyelvkurzus
    </p>
    <p>
        <strong>3.4. Kommunikáció-pénzügy </strong>
        <br /> 3.4.1. Telefon, internet
        <br /> 3.4.2. Bankkártya, bankszámla
        <br /> 3.4.3. Szolgáltatók: víz villany, gáz, szemét száll, közös költség
    </p>
    <p>
        <strong>3.5.Vállalkozás intézése </strong>
        <br /> 3.5.1. Egyéni vállalkozó
        <br /> 3.5.2. Társaság
        <br /> 3.5.3. Finanzamt, Rathaus,Tb. Nyugdíj, Kamarai tagság
        <br /> 3.5.4. Könyvelő
        <br /> 3.5.5. Jogi tanácsadás, ügyvéd
    </p>
    <p>
        <strong>3.6. Pénzügy - Biztosítás befektetés </strong>
        <br /> 3.6.1. Bank
        <br /> 3.6.2. Biztosítás (lakás, személyi-autó)
        <br /> 3.6.3. Értékpapír, megtakarítások
    </p>
    <p>
        <strong>3.7. Adó és jogi tanácsadás </strong>
        <br /> 3.7.1. Minden nemű jogi ügyek
        <br /> 3.7.2. Adótanács, adóbevallások
    </p>
    <p>
        <strong>3.8. Család, egészségügy </strong>
        <br /> 3.8.1. Családi pótlék
        <br /> 3.8.2. Szociális segélyek
        <br /> 3.8.3. Orvos, kórház, E-card
    </p>
}
else if (Thread.CurrentThread.CurrentCulture.Name == "de")
{
    <h2>Preisliste</h2>

    <h3>
        1.	Dienstleistungen<br />
        1.1.	Einfache Registration
    </h3>
    <p>
        Preis: kostenlos
        <br />
        Paket Enthält
        <br />
        <br />
        • E-Buch Download
        <br />
        • Jobangebote aufgeben
        <br />
        • kostenloses Abonnement für die Online Zeitung 1 Jahr lang
        <br />
        • Freie Werbedarstellung auf unserer ungarischen Webseite
        <br />
        <a href="kinal.aspx">Kostenloses Inserat aufgeben</a>
    </p>

    <h3>
        1.2. Kostenpflichtige Werberegistration <br />
        Paket enthält:
    </h3>
    <p>
        2 Euro/Inserat für 7 Tage
        <br />
        oder
        <br />
        5 Euro/Inserat für 1 Monat
        <br />
        Hervorgehobene Textwerbung:
        <br />
        5 Euro, 300 Zeichen für 2 Wochen
    </p>
}


