
@{
    ViewBag.Title = "Formanyomtatványok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Formanyomtatványok</h3>
    
    <ul>
        <li>Hamarossan...</li>
    </ul>
</article>


