
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Szolgáltatásaink</h3>    
    
    <ul>
        <li><b>Munkahely</b> keresés, önéletrajz készítés - hirdetési lehetőség - munkavállalási tanácsadás - <b>partner iroda ajánlással</b></li>
        <li><b>Ingatlan</b> vásárlás/bérlés – tanácsadás <b>partner iroda ajánlással</b></li>
        <li><b>Ügyvédi</b> – közjegyzői feladatok elvégzése – szerződések készítése – tanácsadás - <b>partner iroda ajánlással</b></li>
        <li><b>Vállalkozás, cégalapítás</b>, ügyvédi feladtok, jogi képviselet (Egyéni vállalkozás - Gazdasági társaságok/társasági szerződés készítés) - <b>partner iroda ajánlással</b></li>
        <li><b>Könyvelő irodai szolgáltatás</b>, könyvelés, adótanácsadás - <b>partner iroda ajánlással</b></li>
        <li><b>Működési engedélyhez</b> szükséges dokumentumok beszerzése: kamarai, polgármesteri hiv. bejelentés, adóhivatal bejelentkezés adószámok, egészség-beteg biztosítás, E- Card</li>
        <li><b>Bejelentkezés, lakcím, gyermekek</b> óvoda/iskola elhelyezés segítése – tanácsadás egyéb dokumentumok beszerzése</li>
        <li><b>Bankszámla – Hitel</b> ügyintézés</li>
        <li><b>Befektetés- Pénzügyi tanácsadás</b></li>
        <li><b>Biztosítások</b></li>
        <li><b>Oklevelek,</b> bizonyítványok, dokumentumok, <b>hiteles fordítása - partner iroda ajánlással</b></li>
        <li><b>Nyelvtanulás oktatás</b> – egyéb képzés - <b>partner iroda ajánlással</b></li>
        <li><b>Követelés behajtás – partner iroda ajánlással</b></li>
        <li><b>Egyéb feladatok:</b> <i>családi pótlék, szociális segély, támogatás, jogosítvány, egyéb ügyintézés, tanácsadás</i></li>
    </ul>
</article>


