
@{
    ViewBag.Title = "Vállalkozás és cégalapítás";
    Layout = "~/Areas/letelepedes/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>2.4. Vállalkozás, cégalapítás - ügyvédi feladatok, jogi képviselet </h3>
    <p>/Egyéni vállalkozás - gazdasági társaságok-társasági szerződés készítés/</p>
    
    <p>Ausztriában, szinte ugyan úgy mint Magyarországon és szerte az EU-ban létre lehet hozni magyar állampolgároknak egyéni vállalkozásokat, gazdasági társaságokat. </p>
    <p>Társaságokhoz alakításához ügyvéd szükséges.</p>
    
    <h4>2.4.1. Egyéni vállalkozás</h4>
    <p>önállóan is alakíthat a vállalkozó /segítséget javaslunk/</p>
    
    <h4>2.4.2. Betéti Társaság</h4>
    <p>Ausztriában - Kommanditgesellschaft - KG</p>
    
    <h4>2.4.3. Korlátolt Felelősségű Társaság</h4>
    <p>Ausztriában - Gesellschaft mit  beschränkter Haftung - GmbH</p>
    
    <h4>2.4.4. Részvény Társaság </h4>
    <p>Ausztriában - Aktiegesellschaft – AG</p>
    <p>A további tájékoztatást személyesen tudjuk nyújtani, hiszen a szerződés feltételei gyakran változnak, akár az alaptőke a szükséges dokumentumok vagy egyéb tekintetében.</p>
    <p>Minden esetben az épp akkor aktuális információt nyújtja a jogi képviselő.</p>
    <p>Kamarai tagság kötelező!</p>
</article>

