
@{
    ViewBag.Title = "Élet és egészség biztositások";
    Layout = "~/Areas/biztositas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>9.4. Élet, egészség, beteg, utas, egyéb és különleges biztosítások</h3>
    
    <h4>
        9.4.1. Élet biztosítás<br/>
        9.4.2. Egészség-beteg biztosítás<br />
        9.4.3. Utas biztosítás<br />
        9.4.4. Különleges biztosítás<br />
        9.4.5. Egyéb biztosítás<br />
    </h4>
    <p>
        Elérkeztünk a biztosítások ahhoz a formájához, melyeket sokan nagyon nem kedvelnek, pedig a legfontosabbról van szó benne: az életünkről és az egészségünkről.
    </p>
    <p>
        E kettő mindennél fontosabb mert ha ez meg van akkor tudunk csak gondoskodni az életünk egyéb fontos tényezőiről, legyenek azok személyek, tárgyak vagy a munka.
    </p>
    <p>
        Sajnos sokan vesszük ezt az Isteni ajándékot – az egészségünket - természetesnek és csak akkor érezzük át jelentőségét, amikor egyre kevesebb és kevesebb van belőle.
    </p>
    <p>
        Ekkor van az, hogy azokat az anyagi javakat amelyeket egészségünk elvesztésével szereztünk, az egészségünk visszaszerzésére költünk. Gyakorta már hiába.
    </p>
    <p>
        Azonban fontos hogy ilyenkor és ez alatt is, hogy anyagi biztonságunk legalább stabil legyen.
    </p>
    <p>
        Fontolják meg, kérem a gondolatot és ha úgy érzik, jelezzék kollegáink felé igényüket.
    </p>
</article>