
@{
    ViewBag.Title = "Vagyon és Vállalkozói biztosítások";
    Layout = "~/Areas/biztositas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>9.2.Vagyon, vállalkozói és felelősség biztosítások</h3>
    
    <h4>
        9.2.1. Vagyon biztosítás<br/>
        9.2.2. Vállalkozói biztosítás<br/>
        9.2.3. Felelősség biztosítás
    </h4>
    <p>
        Az értékeinkre vigyázni kell az életünk alatt összegyűjtött vagyon könnyen a megsemmisülhet, ne adjunk esélyt, hogy ez bekövetkezzen.
    </p>
    <p>
        Keresse munkatársunkat.
    </p>
</article>