
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/forditas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Fordítás</h3>
    <h4>Tisztelt olvasó!</h4>

    <h4>Hivatalos fordítás számtalan nyelven</h4>
    
    <p>
        Ha bármely esetben szüksége van fordító cég partnerünk rugalmas szolgáltatása rendelkezésre áll.
    </p>

    <p>
        Oklevelek, bizonyítványok, hivatalos papírok, szerződések, erkölcsi bizonyítvány stb. fordítás garanciával. 
    </p>

    <p>
        <b>
            Kérje az információt a munka társunktól!
        </b>
    </p>
</article>