
@{
    ViewBag.Title = "Vagyontanácsadás - Biztosítás";
    Layout = "~/Areas/letelepedes/Views/Shared/_Layout.cshtml";
}


<article>
    <h3>2.7 Biztosítás - partner iroda ajánlással</h3>    
    
    <h4>2.7.1 Biztosítás</h4>
    <p>
        A biztosítás  nélkül nagyon kockázatos az élet, szerintem mindenhol.
        Ausztriában ezt nagyon komolyan veszik.
        Legyen ez vagyon - személy - felelősség - élet - gépjármű biztosítás.
        Komoly értékek vannak s a baj nem válogat.
        Nem csak saját értékeinket kell óvni hanem második - harmadik személynek okozott kár tekintetében is. Könnyen megtörténhet, hogy egy felelőtlenség egy életre megpecsételi a sorsunkat, - amit akár egy kis áldozattal odafigyeléssel elkerülhettünk volna.
        <br/>
        <br/>
        Lehetőségeinkről kérem személyesen informálódjon!
    </p>
</article>


