
@{
    ViewBag.Title = "Ingatlan közvetítés";
    Layout = "~/Areas/letelepedes/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>2.3. Ingatlan - Albérlet közvetítés és kapcsolódó szolgáltatásai - partner iroda ajánlással</h3>

    <h4>2.3.1 Ingatlan közvetítés teljes körű ügyintézéssel - társirodáinkon keresztül</h4>
    <h4>2.3.2 Albérlet közvetítés teljes körű ügyintézéssel - társirodáinkon keresztül</h4>

    <p>
        Társirodáink régóta a piacon lévő, elismert közvetítő irodák, széleskörű ügyfélkörrel, tapasztalattal.
        Önnek nem kell mást tenni, mint rá kattint a célterületek cím szó alatt a linkekre és láthatja az ajánlatokat.
        Ebből a kínálatból tudnak kedves ügyfeleink választani.
        Amennyiben felkeltette érdeklődésüket valamely ingatlan, a cég kollegái állnak szíves rendelkezésükre.
        Ily módon juthatnak Önök további információhoz, illetve tekinthetik az ingatlanokat.
        Igény esetén, mi is tudjuk Önöket segíteni a kezdeti elindulásban tanácsokkal, javaslatokkal.
    </p>

    <p>
        <u>
            Cél területeink és az ott lévő ingatlan közvetítő partnereink ajánlatai:
        </u>
    </p>

    <p>
        <b>Magyarország</b>
        <ul>
            <li>Sopron és környéke </li>
            <li>Mosonmagyaróvár és környéke</li>
            <li>Szombathely és környéke</li>
            <li>Körmend Szentgotthárd és környéke</li>
        </ul>

        <b>Ausztria</b>
        <ul>
            <li>Burgenland</li>
            <li>Steiermark</li>
            <li>Wien és környéke</li>
        </ul>
        
        <b>Románia</b>
        <ul>
            <li>Kolozsvár és környéke</li>
        </ul>
        
        <b>Horvátország</b>
        <ul>
            <li>Dalmácia</li>
        </ul>
        
        <b>Spanyolország</b>
        <ul>
            <li>Tenerife</li>
        </ul>
    </p>
    
    <h4>2.3.3 Adás-vételi - Bérleti Szerződések készítése</h4>
    <p>
        Az alul megnevezett országokban ügyvédi ellenjegyzés kötelező, sőt a szerződések megírásakor a hivatalos tolmács és közjegyző szükséges.
    </p>
    <ul>
        <li>Magyarország jogi képviselők ügyvédek</li>
        <li>Ausztria jogi képviselők ügyvédek</li>
        <li>Románia jogi képviselők ügyvédek</li>
        <li>Horvátország jogi képviselők ügyvédek</li>
        <li>Spanyolország jogi képviselők ügyvédek</li>
    </ul>
    
    <h3>2.3.4 Értékbecslés Magyarország</h3>
    <p>Hitel felvételekor szükséges az értékbecslés partner irodáink e tekintetben is rendelkezésre állnak.</p>
    <p>
        Értékbecslők:<br/>
        <i>Hamarossan...</i>
    </p>
    
    <h3>2.3.5. Energetika Magyarország</h3>
    <i>Hamarossan...</i>
</article>