
@{
    ViewBag.Title = "Sikeres hirdetésfeladás";
    Layout = "~/Areas/allas/Views/Shared/_Layout.cshtml";
}

<h2>Sikeres hirdetésfeladás</h2>

<p>Köszönjük, hogy nálunk adta fel álláshírdetését.</p>