
@{
    ViewBag.Title = "Külföldi adó visszaigénylés, családi-pótlék";
    Layout = "~/Areas/konyveles/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>7.4. Külföldi adó visszaigénylés - családi pótlék</h3>
    
    <h4>7.4.1. Külföldi adó visszaigénylés</h4>
    
    <p>
        <b>
            100 millió euro az Uniónak a külföldi munkavállalóktól!
        </b>
    </p>
    
    <p>
        Tudta Ön, hogy a külföldi magyar munkavállalók több 100 millió euro-t nem igényelnek vissza az európai uniós tagállamoktól. Bizonyos országok adórendszereiben sok ember túl fizeti munkavállaláskor az adóját anélkül, hogy erről tudna.
    </p>
    
    <p>
        <b>
            Lehet, hogy Ön is jogosult külföldi adó visszatérítésre?
        </b>
    </p>
    
    <p>
        Már rövid ideig tartó munka vállalás esetén is jogosult lehet külföldi adó visszatérítésre.
        Abban az esetben is, ha a külföldi munkaviszony elbocsájtás vagy egyéb okokból kifolyólag az adóév lezárása előtt megszűnt. A lényeg, hogy Önnek legyen külföldön befizetett adója. Érdekli hogyan működik a külföldi adó visszaigénylés?
    </p>
    
    <p>
        <b>
            4 évre visszamenőleg igényelhető.
        </b>
    </p>
    
    <p>
        Ha Ön külföldi pl. egy európai uniós országban vállal(t) munkát, függetlenül attól, hogy magyar cégen keresztül kiküldetésben, vagy közvetlenül akkor Önnek 4 évre visszamenőleg lehetősége van a bruttó keresete után befizetett adó, akár részbeni, akár teljes visszaigénylésére. A személyenkénti adó visszatérítés összege átlagban több mint 1.000 Euro.
        Ez az Ön nehezen megkeresett pénze, miért hagyná elveszni?
    </p>
    
    <p>
        A könyvelési szakember partnereink, leginkább a külföldön nyilvántartásba vett adóalanyok számára adható adó visszatérítés mértékéről adnak felvilágosítást.
        Igényesetén ismertetik adó-visszatérítési módját és részletes szabályait.
    </p>
    
    <h4>7.4.2. Családi pótlék</h4>
    <p>Jogosultak, a családi pótlék ideális folyósításáról kaphatnak információkat.</p>
</article>