
@{
    ViewBag.Title = "Bank és Hitel";
    Layout = "~/Areas/letelepedes/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>2.6 Pénzügyi szolgáltatás - partner iroda ajánlással</h3>
    
    <h4>2.6.1 Bank- Bankszámla</h4>
    <p>
        Vállalkozóknak, magánszemélyeknek gyakran szükségük van  manapság bankszámlára.
        Vállalkozóknál a bankszámla vezetés nem minden esetben kötelező!
    </p>
    <p>
        Azért valljuk be a kis plasztik kártya már szinte mindenki tulajdonában van.
    </p>
    <p>
        Döntésük előtt érdeklődjenek, kérjék ki tanácsunkat.
    </p>
    <p>
        Ausztriában is mint mindenhol nagyon széles skálán mozognak a banki szolgáltatások.
    </p>
    
    <h4>2.6.2 Hitel lehetőségek</h4>
    <p>A széleskörű lehetőség  miatt kérem személyesen érdeklődjön!</p>
    
    <h4>2.6.3 Vagyontanácsadás</h4>
    <p>
        Ausztriában számos lehetőség van arra, hogy a lakosok éljenek korrekt megtakarításokkal és annak előnyeivel
        Komoly tradíciói vannak ennek a kultúrának és szerves részét képezi a lakosok pénzügyi programjának.
        A kuncsaftok a mai napig élhetnek az Uniós országok közül ritkaság számba menő lehetőségekkel amit az osztrák pénzpiac és a banki feltételek biztosítanak.
        Kollegák a legfrissebb és személyre szabott ajánlatokkal várják az érdeklődőket!
    </p>
</article>

