@{
    ViewBag.Title = "Ausztria";
}

<h2>Ausztria</h2>

<article class="ausztria">
    <p>
        <strong>Az Osztrák Köztársaság</strong> (vagy latin eredetű néven <strong>Ausztria</strong>, németül <strong>Österreich</strong> vagy <strong>Republik Österreich</strong>) Közép-Európában található demokratikus köztársaság. Északról Németország és Csehország, keletről Szlovákia és Magyarország, délről Szlovénia és Olaszország, nyugatról pedig Svájc és Liechtenstein határolja. Fővárosa Bécs.
    </p>
    <p>
        Legjelentősebb folyója a Duna (350 km-es szakasz), vízgyűjtő területe az egész ország 96%-ára terjed ki.
    </p>
    <p>
        1955. május 15-én Bécsben aláírták az államszerződést, melyben az ország visszakapta szuverenitását. A megszállók kivonulása után Ausztria örökös semlegességét alkotmányban rögzítették. Az államszerződés lehetőséget teremtett arra, hogy Ausztria független, semleges országként a saját útját járja.
    </p>
    <p>
        Ausztria és főleg Bécs, Salzburg neve szorosan összekapcsolódik a komolyzenével és a zenei rendezvényekkel. Klasszikus zeneszerzők: Joseph Haydn, Wolfgang Amadeus Mozart, Franz Schubert, Richard Strauss (1864–1949).
    </p>
    <p>
        Az ország 1955 óta tagja a ENSZ-nek és 1995 óta az Európai Uniónak is. További szervezeti tagságai: WTO, Békepartnerség, NYEU, EBESZ, IMF, OEC
    </p>
</article>

<table class="ausztria">
    <tbody>
        <tr>
            <th colspan="2">Osztrák köztársaság<br /> Republik Österreich</th>
        </tr>
        <tr>
            <td>
                <img src="~/Areas/allas/Content/Image/Ausztria/auzaszlo.png" /><br /> Ausztria zászlaja
            </td>
            <td>
                <img src="~/Areas/allas/Content/Image/Ausztria/aulogo.png" /><br /> Ausztria címere
            </td>
        </tr>
        <tr>
            <td>Nemzeti mottó</td>
            <td>nincs</td>
        </tr>
        <tr>
            <td>Nemzeti himnusz</td>
            <td>Land der Berge, Land am Strome</td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="~/Areas/allas/Content/Image/Ausztria/au_terkep.png" />
            </td>
        </tr>
        <tr>
            <td>Fővárosa</td>
            <td>Bécs<br /> Északi szélesség: 48°12'<br /> Keleti hosszúság: 16°21'</td>
        </tr>
        <tr>
            <td>Államforma</td>
            <td>Szövetségi köztársaság</td>
        </tr>
        <tr>
            <td>Szövetségi elnök</td>
            <td>Heinz Fisher</td>
        </tr>
        <tr>
            <td>Kancellár</td>
            <td>Werner Faymann</td>
        </tr>
        <tr>
            <td>Hivatalos nyelv</td>
            <td>német (osztrák változata) helyileg: szlovén, horvát, magyar</td>
        </tr>
        <tr>
            <td>Függetlenség</td>
            <td>1955. július 27.</td>
        </tr>
        <tr>
            <td>Semlegességi nyilatkozat</td>
            <td>1955. október 26.</td>
        </tr>
        <tr>
            <td>EU-csatlakozás</td>
            <td>1995. január 1.</td>
        </tr>
        <tr>
            <td>Tagság</td>
            <td>Az Európai Unió, az ENSZ, az EBESZ és az OECD</td>
        </tr>
        <tr>
            <th colspan="2">Népesség</th>
        </tr>
        <tr>
            <td>Népszámlás szerint</td>
            <td>ismeretlen</td>
        </tr>
        <tr>
            <td>Rangsorban</td>
            <td>93</td>
        </tr>
        <tr>
            <td>Becsült</td>
            <td>8 316 487 fő (2007)</td>
        </tr>
        <tr>
            <td>Rangsorban</td>
            <td>93</td>
        </tr>
        <tr>
            <td>Népsürüség</td>
            <td>97 fő/km2</td>
        </tr>
        <tr>
            <td>GDP</td>
            <td>2008 (forrás: IMF)</td>
        </tr>
        <tr>
            <td>Összess</td>
            <td>415 321 millió USD (25) PPP: 328 679</td>
        </tr>
        <tr>
            <td>Egy főre jutó</td>
            <td>44 851 USD (12) PPP: $39 000</td>
        </tr>
        <tr>
            <td>HDI (2007)</td>
            <td>0,955 (14) - magas</td>
        </tr>
        <tr>
            <th colspan="2">Földrajzi adatok</th>
        </tr>
        <tr>
            <td>Terület</td>
            <td>83 870 km2</td>
        </tr>
        <tr>
            <td>Rangsorban</td>
            <td>113</td>
        </tr>
        <tr>
            <td>Víz</td>
            <td>1,3%</td>
        </tr>
        <tr>
            <td>Időzóna</td>
            <td>közép-európai idő (UTC+1) közép-európai nyári idős (UTC+2)</td>
        </tr>
        <tr>
            <td colspan="2"><small>Forrás: <a href="http://www.wikipedia.org" target="_blank">wikipedia</a></small></td>
        </tr>
    </tbody>
</table>
