
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ingatlan/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>4.5. Energetika</h3>
    <p>
        Az embernek nem árt ha a mostani energia árak mellett tisztában van azzal, hogy mire számíthat egy ingatlan tekintetében a fűtésre és a hűtésre.
        Nagy mértékben növelheti és csökkentheti az ingatlan értékét a megfelelő szigetelés és az energiatakarékos berendezések.
    </p>
    
    <h4>4.5.1 Energetikai tanúsítvány</h4>
    <p>
        Az energetikai tanúsítvány (vagy e-zöldkártya) „...igazoló okirat, amely az épületnek vagy önálló rendeltetési egységnek az e törvény felhatalmazása alapján kiadott jogszabály szerinti számítási módszerrel meghatározott energetikai teljesítőképességét tartalmazza.”<br/>
        „Az Európai Unió kiemelten foglalkozik a lakások, közintézmények energiahatékonyságával, és ezért az energetikai tanúsítvány bevezetését minden tagország számára kötelezővé tette. 2002-ben direktívában (Energy Performance of Building Directive) írta elő, hogy az energiafogyasztás és a környezetszennyezés csökkentése érdekében magasabb energiahatékonysági követelményeket kell teljesíteni a lakásoknak és a közintézményeknek. A szabályozás célul tűzte ki, hogy minden tagországban viszonylag rövid időn belül csökkenjen az épületek energiafogyasztása. Célul tűzte ki, hogy 2020-ra az új épületek csak 0. energiásak legyenek.  
    </p>
    
    <p>
        Ebben nyújt Önnek egy kis eligazodást és segítséget.<br/>
        <a href="http://hu.wikipedia.org/wiki/Energetikai_tan%C3%BAs%C3%ADtv%C3%A1ny">http://hu.wikipedia.org/wiki/Energetikai_tanusítvány</a><br/>
        Hívja szakemberünket!
    </p>
</article>

