
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/jogiszolgaltatasok/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>5.2. Adás-vételi, bérleti szerződések - partneriroda ajánlása</h3>
    
    <h4>5.2.1. Adás – vételi szerződés</h4>
    <p>
        Az alul megnevezett országokban ügyvédi ellenjegyzés kötelező, sőt a szerződések megírásakor a hivatalos tolmács és közjegyző szükséges.
    </p>
    
    <h4>5.2.2. Bérleti szerződés</h4>
    <p>
        A bérleti szerződéseknél nincs ilyen szigorú kitétel, mint az adás – vételi szerződés esetében.
    </p>
    <p>
        Azonban minden esetben nem árt ha pontosan ismeri a szerződés tartalmát és egy hivatalos személy fordítja azt az anyanyelvére.
    </p>
    <p>
        Amennyiben nincs önnek jogi képviselője, az irodánk tud Önnek ajánlani megfelelő szakértelemmel bíró személyeket.
    </p>
    <ul>
        <li>Magyarország - jogi képviselők ügyvédek</li>
        <li>Ausztria - jogi képviselők ügyvédek</li>
        <li>Románia - jogi képviselők ügyvédek</li>
        <li>Horvátország - jogi képviselők ügyvédek</li>
        <li>Spanyolország - jogi képviselők ügyvédek</li>
    </ul>
</article>

