
@{
    ViewBag.Title = "Főoldal";
    Layout = "~/Areas/biztositas/Views/Shared/_Layout.cshtml";
}

<article>
    <h3>Biztosítás</h3>
    
    <h4>Tisztelt ügyfelünk!</h4>
    
    <p>
        Az örökzöld téma…
    </p>
    
    <p>
        Manapság biztosítás  nélkül nagyon kockázatos az élet, szinte bár legyünk is.
        Ausztriában és a nyugat európai országokban ezt nagyon komolyan veszik.
        Legyen ez vagyon - személy - felelősség - élet - gépjármű biztosítás.
        Komoly értékek vannak, gurulnak négy keréken vagy járnak két lábon előttünk, s a baj nem válogat.
        Nem csak saját értékeinket kell óvni, hanem második - harmadik személynek okozott kár tekintetében is figyelemmel kell lennünk.
        Könnyen megtörténhet, hogy egy apró felelőtlenség, egy életre megpecsétel sorsokat, - ami, akár egy kis áldozattal, odafigyeléssel elkerülhető lehetett volna.
    </p>
    
    <p>
        Lehetőségeinkről kérem személyesen informálódjon!
    </p>
</article>

